.nav-image {
    width: 32px;
    height: 32px;
}

.menu-icon {
    transition-duration: 500ms;
    --menu-icon-margin: 5px;
    margin-left: var(--menu-icon-margin);
}

.setting-icon {
    margin: 5px;
    -webkit-transition: -webkit-transform 1s ease-in-out;
            transition:         transform 1s ease-in-out;
}

.dropmenu-element:hover .menu-icon{
    --menu-icon-margin: 10px
}

.dropmenu-element{
    padding-top: 0px;
    padding-bottom: 0px;
}


.dropmenu-element:hover .setting-icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.header-color{
    background-color: #414552;
}

       
