.container-register {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Montserrat", serif;
    color: white;
}


.container-register h1 {
    font-size: 36;
    text-align: center;
}


.button-register {
    transition-duration: 500ms;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 13px;
    padding: 10px;
    border: solid white 2px;
    font-weight: 600;
}

.button-register:hover {
    background: rgba(0,0,0,0);
    color: white;    
}

